Source: x2gowswrapper
Section: x11
Priority: optional
Maintainer: X2Go Developers <x2go-dev@lists.x2go.org>
Uploaders:
 Oleksandr Shneyder <o.schneydr@phoca-gmbh.de>,
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>,
 Mihai Moldovan <ionic@ionic.de>,
Build-Depends:
 debhelper (>= 9),
 qtbase5-dev,
 qttools5-dev-tools,
Standards-Version: 4.5.1
Homepage: https://code.x2go.org/releases/source/x2gowswrapper
Vcs-Git: git://code.x2go.org/x2gowswrapper.git
Vcs-Browser: https://code.x2go.org/gitweb?p=x2gowswrapper.git;a=summary

Package: x2gowswrapper
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: X2Go HTML5 Client (Websocket Wrapper)
 X2Go is a server based computing environment with
    - session resuming
    - low bandwidth support
    - session brokerage support
    - client-side mass storage mounting support
    - client-side printing support
    - audio support
    - authentication by smartcard and USB stick
 .
 The X2Go HTML5 Client provides X2Go session access via webbrowser
 technology (supported by X2Go KDrive Xserver backend only).
 .
 This package contains a tiny tool for handling websocket streams.
