#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export QT_SELECT=qt5

%:
	dh $@

override_dh_auto_configure:
	lrelease x2gowswrapper.pro
	dh_auto_configure

override_dh_auto_build:
	qmake QMAKE_CFLAGS+="${CPPFLAGS} ${CFLAGS}" QMAKE_CXXFLAGS+="${CPPFLAGS} ${CXXFLAGS}" QMAKE_LFLAGS+="${LDFLAGS}" x2gowswrapper.pro

override_dh_install:
	mkdir -p $(CURDIR)/debian/x2gowswrapper/usr/bin/
	install -m 644 x2gowswrapper $(CURDIR)/debian/x2gowswrapper/usr/bin/
	dh_install

override_dh_clean:
	-dh_clean
